//colors
$yellow: #FFDF5B;
$darkBlue: #19084E;
$pink: #D673C3;
$dark: #121B35;
$darkPurple: #3E2D71;
$lightPurple: #40455C;
$white: #FFFFFF;
//backgroundColors
$darkPurple: #321872;
$lightPurple: #D0BEFB;
//fonts
$font: Chivo-Regular, sans-serif;
$fontWeightBold: 900;
$fontWeightRegular: 400;
$fontSize: 38px;